@import "./modal.scss";
@import "./slides.scss";

.copyright {
	z-index: 1;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 6px;
	margin: 0 10px;
	color: #fff;
}

.mygithub {
	outline: none;
	text-decoration: none;
	color: #fff315;
	transition: color 0.2s ease-out;
	&:hover {
		color: darken($color: #fff315, $amount: 20%);
	}
}

@media screen and (min-width: 768px) {
	.copyright {
		font-size: 8px;
	}
	.wrapper-notif {
		.notification {
			font-size: 1.5em;
		}
		.check-icon {
			bottom: 12px;
		}
	}
}
