@keyframes modalShow {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes modalClose {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes modalBgShow {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes modalBgClose {
	0% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(0);
	}
}

.modal-bg {
	display: none;
	z-index: 10;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba($color: #000000, $alpha: 0.4);
}

.modal {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 25px;
	height: fit-content;
	width: 350px;
	color: rgb(255, 66, 204);
	background: url("https://rayzio-jax.github.io/dreamyvibe/love-pattern.jpg")
		repeat;
	background-size: 50%;
	font-size: 2em;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.content {
	p {
		font-weight: bold;
	}
	img {
		padding: 0.5em 0;
	}
}

.closeBtn {
	cursor: pointer;
	box-shadow: 0 2px 12px 4px rgba($color: #000000, $alpha: 0.3);
	background-color: #ffc0cb;
	color: white;
	border-radius: 100px;
	margin: 20px 0;
	padding: 0.2em 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 0.8em;
	transition: all 0.2s ease-out;
	&:active {
		transform: scale(0.9);
	}
	&:hover {
		background-color: darken($color: #ffc0cb, $amount: 10%);
	}
}

@media screen and (min-width: 768px) {
	.modal {
		width: 500px;
		height: fit-content;
		font-size: 3em;
	}
}
